@import "tailwindcss";
.title-login {
  font-size: 40px;
  font-weight: 700;
  color: #1a237e;
  line-height: 1.2;
}

.subtitle-login {
  font-size: 20px;
  font-weight: 600;
  color: #1a237e;
  line-height: 32px;
}

.font-default-40-48 {
  font-size: 40px;
  line-height: 48px;
}

.font-default-20-32 {
  font-size: 20px;
  line-height: 32px;
}
* {
  font-family: 'Sarabun', sans-serif;
}